* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;

}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/main.png);
    background-position: center;
    background-size: cover;
    position: relative;

}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;

}

.nav-links {
    flex: 1;
    text-align: right;

}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;

}

.nav-links ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;

}

.nav-links ul li:hover::after {
    width: 100%;

}

.text-box {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;

}

.text-box p {
    margin: 10px 0 40px;
    font-size: 22px;
    color: #fff;
}

.main-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;


}

.main-btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;

}

nav .material-symbols-outlined {
    display: none;
}

@media(max-width: 700px) {
    .text-box h1 {
        font-size: 20px;
    }

    .nav-links ul li {
        display: block;

    }

    .nav-links {
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;


    }

    nav .material-symbols-outlined {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
}

.favourites {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.favourites p {
    font-size: 22px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.box_data {
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    height: 400px;
    box-sizing: border-box;
    transition: 0.8s;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.box_data:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}

@media(max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

.row img {
    margin: auto;
    height: 91%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

.varieties {
    background-image: url(images/Free\ Vector\ _\ White\ elegant\ texture\ wallpaper.jpeg);
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;

}

.varieties p {
    font-size: 22px;
}

.contact_us {
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(83, 79, 79, 0.7), rgba(0, 0, 0, 0.7)), url(images/contact.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.contact_us h1 {
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

.reviews {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.reviews_cols {
    flex-basis: 44%;
    border-radius: 10px;
    margin-top: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}

.reviews_cols img {
    height: 101px;
    margin-left: 5px;
    margin-right: 43px;
    border-radius: 50%;
    width: 210px;
}

.reviews_cols p {
    padding: 0;

}

.reviews_cols h3 {
    margin-top: 15px;
    text-align: left;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 54px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 96%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 71px;
}

.form-group textarea {
    height: 100px;
}

.form-group button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #5cb85c;
    color: white;
    border-radius: 50px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #4cae4c;
}

.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;

}

.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}